<section class="flex flex-col items-center">
  <div class="basis-44">
    <%# Empty space to match page headers %>
  </div>
  <div class="bg-white h-fit p-2 w-80 max-w-sm rounded shadow-md lg:shadow-xl">
    <ul class="flex flex-col">
      <li>
        <%= link_to "tasks", tasks_path %>
      </li>
    </ul>
  </div>
</section>