<section class="flex flex-col items-center">
  <div class="basis-44">
    <%# Empty space to match page headers %>
  </div>
  <%= render "ui/sidebar" do %>
    <%= render partial: "ui/sidebar_item", locals: {
      title: "Tasks",
      path: tasks_path,
      icon: "list-solid"
    } %>
  <% end %>
</section>